
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/client-app/controllers/cart/index.js" asp-append-version="true"></script>
    <script>
        var cartObj = new CartController();
        cartObj.initialize();
    </script>
}
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart">

                <div class="page-content page-order">
                    <div class="page-title">
                        <h2>Shopping Cart</h2>
                    </div>


                    <div class="order-detail-content">
                        <div class="table-responsive">
                            <table class="table table-bordered cart_summary">
                                <thead style="background-color:black; color:white;">
                                    <tr>
                                        <th class="cart_product" style="text-align: center">Product</th>
                                        <th style="text-align: center">Description</th>
                                        @*<th>Avail</th>*@
                                        <th style="text-align: center">Unit price</th>
                                        <th style="text-align: center">Qty</th>
                                        <th style="text-align: center">Amount</th>
                                        <th class="action" style="text-align: center"><i class="fa fa-trash-o"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="table-cart-content"></tbody>
                                <tfoot style="background-color:white;">
                                    <tr>
                                        <td colspan="3"><strong style="float: right;">Total</strong></td>
                                        <td colspan="6"><strong style="float: right; margin-right:30px;"><span id="lblTotalAmount"></span> </strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <script id="template-cart" type="x-tmpl-mustache">
                                <tr data-id="{{ProductId}}">
                                    <td class="cart_product">
                                        <a href="{{Url}}">
                                            <img src="{{Image}}" alt="{{ProductName}}">
                                        </a>
                                    </td>
                                    <td class="cart_description">
                                        <p class="product-name"><a href="#">{{ProductName}}</a></p>
                                        <small><a href="#">Color : {{{Colors}}}</a></small>
                                        <small><a href="#">Size : {{{Sizes}}}</a></small>
                                    </td>
                                    <td class="price"><span>${{Price}} </span></td>
                                    <td class="qty"><input class="form-control input-sm txtQuantity" data-id="{{ProductId}}" type="text" value="{{Quantity}}"></td>
                                    <td class="price"><span>${{Amount}}</span></td>
                                    <td class="action"><a href="#" data-id="{{ProductId}}" class="btn-delete"><i class="icon-close"></i></a></td>
                                </tr>
                            </script>
                        </div>
                        <div class="cart_navigation">
                            <a class="continue-btn" href="/" style="background-color:#fcd21b;"><i class="fa fa-arrow-left"> </i>&nbsp; Continue shopping</a>
                            <a id="btnClearAll" href="#"><i class="fa fa-remove"> </i>&nbsp; Clear cart</a>
                            <a class="checkout-btn" href="/checkout.html"><i class="fa fa-check"></i> Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service section -->
<div class="jtv-service-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper ship">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-paper-plane"></i></div>
                        <div class="service-wrapper">
                            <h3>World-Wide Shipping</h3>
                            <p>On order over $99</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12 ">
                <div class="block-wrapper return">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-rotate-right"></i></div>
                        <div class="service-wrapper">
                            <h3>30 Days Return</h3>
                            <p>Moneyback guarantee </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper support">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-umbrella"></i></div>
                        <div class="service-wrapper">
                            <h3>Support 24/7</h3>
                            <p>Call us: ( +123 ) 456 789</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper user">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-tags"></i></div>
                        <div class="service-wrapper">
                            <h3>Member Discount</h3>
                            <p>25% on order over $199</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

