
@{
    Layout = null;
}

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="footer-logo"><a href="/"><img src="~/client-side/images/logofooter1.png" alt="fotter logo"></a> </div>
                @*<p style="font-size: 30px; line-height:10px; font-weight: bold; text-align: center;">FASHION HAS TO REFLECT WHO YOU ARE,</p>
                    <br/>
                    <p style="font-size: 20px; line-height:10px; text-align: center;">WHAT YOU FEEL AT THE MOMENT. WHERE YOU'RE GOING.</p>
                    <p style="font-size: 18px; line-height:100px; font-weight: bold; text-align: center;">- PHARRELL WILLIAMS -</p>*@

                <div class="slogan" style="text-align: center; color:white; line-height:50px">
                    <span style="font-size: 30px; font-weight: bold;">FASHION HAS TO REFLECT WHO YOU ARE,</span>
                    <br />
                    <span style="font-size: 20px;">WHAT YOU FEEL AT THE MOMENT. WHERE YOU'RE GOING.</span>
                    <br />
                    <span style="font-size: 18px;  font-weight: bold;">- PHARRELL WILLIAMS -</span>
                </div>

                <div class="social">
                    <ul class="inline-mode">
                        <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2019 <a href="#"> ATOM </a>. All Rights Reserved. </div>
                <div class="col-sm-6 col-xs-12">
                    <ul class="footer-company-links">
                        <li> <a href="#">About Us</a> </li>
                        <li> <a href="#">Contact Us</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>

<!-- End Footer -->
