
@{
    Layout = null;
}

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">   
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="slogan" style="text-align: center; color:white; line-height:40px;">
                    <span style="font-size: 40px; font-weight: bold;">ATOM STORE</span>
                </div>
                <address>
                    <p> <i class="pe-7s-map-marker"></i>ATOM Store, 01 Vo Van Ngan St., Thu Duc Dist., Ho Chi Minh City, Vietnam </p>
                    <p><i class="pe-7s-call"></i><span>(+84) 0793699821</span> </p>
                    <p> <i class="pe-7s-mail-open"></i><span><a href="mailto:atomstore.ecommerce@gmail.com" style="color:white;">atomstore.ecommerce@gmail.com</a></span></p>
                </address>

                <div class="social">
                    <ul class="inline-mode">
                        <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2019 <a href="#"> ATOM </a>. All Rights Reserved. </div>
                <div class="col-sm-6 col-xs-12">
                    <ul class="footer-company-links">
                        <li> <a href="/about.html">About Us</a> </li>
                        <li> <a href="/contact.html">Contact Us</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="" id="chat-box" title="Chat with us"><i class="fa fa-comments"></i></a>
<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>


<!-- End Footer -->
