
@{
    Layout = null;
}

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">   
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="slogan" style="text-align: center; color:white; line-height:40px;">
                    <span style="font-size: 40px;">ATOM STORE</span>
                </div>
                <address>
                    <p> <i class="pe-7s-map-marker"></i><span><a href="/contact.html" style="color:white;">ATOM Store, 01 Vo Van Ngan St., Thu Duc Dist., Ho Chi Minh City, Vietnam </a></span></p>
                    <p><i class="pe-7s-call"></i><span>(+84) 0793699821</span> </p>
                    <p> <i class="pe-7s-mail-open"></i><span>atomstore.ecommerce@gmail.com</span></p>
                </address>

                <div class="social">
                    <ul class="inline-mode">
                        <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <ul style="float:left; padding-top:5px;">
                        <li><img src="~/client-side/images/payment-6.png" alt="Payment COD"></li>
                        <li><img src="~/client-side/images/payment-4.png" alt="Payment Master Card"></li>
                        <li><img src="~/client-side/images/payment-1.png" alt="Payment Paypal"></li>
                        <li><img src="~/client-side/images/payment-2.png" alt="Payment Visa"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2017 <a href="#" style="color:white;"> ShopMart </a>. All Rights Reserved. </div>
                <div class="col-sm-6 col-xs-12">
                    <ul class="footer-company-links">
                        <li> <a href="/about.html" style="color:white;">About Us</a> </li>
                        <li> <a href="/contact.html" style="color:white;">Contact Us</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="" id="chat-box" title="Chat with us"><i class="fa fa-comments"></i></a>
<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>


<!-- End Footer -->
